.code-editor-main{
    display: flex;
    width:100%;
    min-height: 100vh;
    background-color: rgb(242, 242, 242);
    flex-direction: column;
}



.navbar{
    display:flex;
    align-items: center;
}

.navbar img, .navbar .heading{
    margin:20px;

}

.navbar .heading{
    font-size: 22px;
    font-weight: 400;
    color: #333;
    margin-left: 0px;

}




